.about-page {
    background-color: #ffffff;
    width: 75%;
    margin: 0 auto;

    h1, h2 {
        padding-top: 2rem;
        text-align: center;
    }

    p {
        padding: 0 0 2rem 2rem;

    }
}