.home-link a {
  
  color: #ffffff;
  font-family: 'League Gothic', sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.forgot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .forgot-form {
    width: 30rem;
    padding: 4rem;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 1rem;

    label {
      display: block;
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #4caf50;
      color: #ffffff;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    button:hover {
      background-color: #45a049;
    }

  }
}
