// styles.scss

/* Styles pour le header */
.header {
  background-color: #242526;
  padding: 3rem;
  border-bottom: #393a3b solid 1px;
  align-items: center;
  text-align: center;

  &-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }

  &-login {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    margin-left: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    width: 400px;
    height: auto;
  }

  @media screen and (max-width: 768px) {
    padding: 1rem;

    &-nav {
      justify-content: center; 
      margin-top: 0.5rem;
    }

    img {
      width: 300px;
    }

  }

  @media screen and (max-width: 529px) {
    padding: 1rem;

    &-nav {
      justify-content: center; 
      margin-top: 0.5rem;
    }

    img {
      width: 200px;
    }

  }
}

  