.header {
    background-color: #242526;
    padding: 3rem;
    border-bottom: #393a3b solid 1px;
    align-items: center;
    text-align: center;
  }
  
  .header-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  
  .header-login {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    margin-left: 1rem;
  
    &:hover {
      text-decoration: underline;
    }
  }
  
  .title {
    font-weight: 800;
    font-size: 4rem;
    color: #ffffff;
    font-family: 'League Gothic', sans-serif;
    margin-top: 1rem;
  }
  
  .subtitle {
    font-weight: 800;
    font-size: 1.5rem;
    color: #ffffff;
    font-family: 'League Gothic', sans-serif;
    margin-top: 1rem;
  }
  