.navbar {
  background-color: #242526;
  padding: 1rem;
  border-bottom: #393a3b solid 1px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar-nav {
  display: flex;
  align-items: center;
  gap: 2rem;

}

.nav-link {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 750px) {
  .navbar-nav {
    flex-wrap: wrap; 
    justify-content: center; 
  }

  .nav-link {
    flex-basis: calc(33.33% - 2rem); /* Diviser l'espace en 3 colonnes avec un espacement de 2rem */
  }
}
