.article-card{
  
  &-container {
    border-top: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    padding-top: 3rem;
  }

  &-picture {
    display: inline;
    margin: 0 auto;
  }

  &-title {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
    display: inline;
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        color: #007bff;
      }
    }
  }

  &-content {
    margin-bottom: 10px;
    p {
      margin: 0;
    }
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    li {
      margin-left: 10px;
    }

  }
}

@media screen and (max-width: 824px) {
  .article-card-picture {
    width: 100%; 
    height: auto; 
  }
}