/* Reset CSS */

/* Méthode pour supprimer les marges et les rembourrages par défaut */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Supprimer la liste des styles */
ul,
ol {
  list-style: none;
}

/* Supprimer les styles de base de la typographie */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Réinitialiser les styles des liens */
a {
  text-decoration: none;
  color: inherit;
}

/* Réinitialiser les styles des boutons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Vous pouvez ajouter d'autres réinitialisations spécifiques selon vos besoins */

/* Exemple de styles pour les balises de texte par défaut */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Exemple de style pour les balises de titre par défaut */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
}
